################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
*.db
/projects/vs2010/.vs/utils/v15/Browse.VC.db
